
<div class="container text-center">
  <h1> Cocktail Palace </h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
    <div class="card col-xs-12 col-sm-6 col-lg-4">
       <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Pink_Lady_with_a_twist_of_lime,_in_a_cocktail_glass.jpg/1200px-Pink_Lady_with_a_twist_of_lime,_in_a_cocktail_glass.jpg", {:style => "height: 120px; width: 120px"}) %>
       <h3 class="drink_title"><%= link_to c.name, cocktail_path(c) %></h3>
    </div>
  <% end %>
  </div>
</div>
