<div class="banner">
    <div class="banner-content">
      <h1>Cocktail World</h1>
        <h2>Check out our cocktails</h2>
        <p><%= link_to "add your own", new_cocktail_path, class: "button" %></p>
       </div>
    </div>
  </div>

  <div class="container cocktail-cards-container">
    <div class="row" style="justify-content: center">
        <% @cocktails.each do |c| %>
          <div class="cocktail-card col-xs-12 col-sm-6 lg-4 magnify"
          style=" background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url('<%= cl_image_path c.photo, height: 300, width: 400, crop: :fill unless c.photo.blank? %>')">
          <div class="card-drink text-center bg-transparent border-success"> <h2 class="drink-name"><%= link_to c.name, cocktail_path(c), class: "cocktail-card-title" %></h2></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
