// Specific CSS for your home-page

html {
  scroll-behavior: smooth;
}

h1, {
  font-size: 60px;
  font-family: 'K2D', sans-serif;
}

body {
  background: linear-gradient(55deg, #ee0979 0%, #F33F51 51%, #ff6a00 85%);
}

label {
  font-size: 13px;
}

h2 {
  font-size: 20px;
  font-family: 'K2D', sans-serif;
  color: #FFFFE7;
}


input[type="text"]
{
  font-size:24px;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
  text-decoration: none;
  color: #55ffed;
  transition: all 0.7s ease;
  }
}



.magnify:hover {
  transform:scale(1.02);
  transition: all 0.7s ease;
}


.cocktail-card {
  height: 300px;
  width: 240px;
  margin: 15px;
  border-radius: 5px;
}

.cocktail-cards-container {
  justify-content: center;
  width: 100%;
  margin-top: 1em;
}

.cocktail-card-title {
  font-family: raleway;
  font-size: 18px;
  text-decoration: none;
  color: #fffafa;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.bordered {
  border: 2px solid rgba(236,240,241,0.8)
}

#cocktails-header {
  text-align: center;
  padding-bottom: 20px;
}

#home-container {
  height: 100vh;
  width: 100%;
}

#home-header {
  font-size: 84px
}

#banner-downarrow {
  text-align: center;
  padding-top: 10px;
}

// .home-banner-button {
//   background: white;
//   color: black;
//   opacity: 0.5;
//   border-radius: 3px;
//   padding: 5px;
//   border: 1px;
//   &:hover {
//     color: black;
//     background: white;
//     transform:scale(1.02);
//     transition: all 0.7s ease;
//   }
// }

