// Specific CSS for your home-page

h1, {
  font-size: 60px;
  font-family: 'K2D', sans-serif;
}

body {
  height: 3000px; /* Used to enable scrolling */
  background: linear-gradient(55deg, #ee0979 0%, #F33F51 51%, #ff6a00 85%);
}

label {
  size: 42px
}

h2 {
  font-size: 20px;
  font-family: 'K2D', sans-serif;
  color: #FFFFE7;
}


input[type="text"]
{
  font-size:24px;
}



.magnify:hover {
  transform:scale(1.02);
  transition: all 0.7s ease;
}


.cocktail-card {
  height: 250px;
  width: 200px;
  margin: 15px;
  border-radius: 5px;
}

.cocktail-cards-container {
  justify-content: center;
}

.cocktail-card-title {
  font-family: raleway;
  font-size: 23px;
  text-decoration: none;
  color: #fffafa;
}
