.container-show {
  height: 100vh;
}

.cocktail-show {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  padding-top: 1em;
}

.cocktail-description {
  flex: 1 auto;
}

.cocktail-title-ingredients {
  padding-left: 5%;
}

#cocktail-show-title {
  text-align: center;
  font-size: 60px;
  color: floralwhite;
}
