
.container-show {
  height: 100vh;
}

.cocktail-show {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.cocktail-title-ingredients {
  padding-left: 5%;
}

#cocktail-show-title {
  text-align: center;
  font-size: 60px;
  color: floralwhite;
}
