
#dose_description, #cocktail_name, #cocktail_description {
  background: transparent;
  color: white;
}

#dose_ingredient_id {
  background: transparent;
  color: white
}

#cocktail-submit {
  background: transparent;
  border-radius: 3px;
  padding: 5px;
  &:hover {
    color: black;
    background: white;
    transform:scale(1.02);
    transition: all 0.7s ease;
  }
}

#cocktail-new-container {
  width: 30%;
}

#cocktail_photo {
  display: flex;
}



