
#dose_description, #cocktail_name, #cocktail_description {
  background: transparent;
  color: white;
}

#dose_ingredient_id {
  background: transparent;
}

#cocktail-submit {
  background: transparent;
  &:hover {
    background: white;
    transition: 0.7 ease;
  }
}

#cocktail-new-container {
  width: 30%;
}

#cocktail_photo {
  display: flex;
}
